.chartContainer {
  width: 100%;
  height: 100%;
  display: flex;

  .leftContainer {
    width: 2rem;
    height: 100%;
    .content {
      display: flex;
      flex-direction: column;
      height: 100%;
    }
  }

  .centerContainer {
    flex: 1;
  }

  .rightContainer {
    width: 2rem;
    height: 100%;
    // background: blue;
  }
}