.Box{
  display: flex;
  justify-content: space-between;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  // padding-bottom: 20px;
  // .Nav{
  //   width: 9.2%;
  //   min-height: 200px;
  //   background:#091e4b;
  //   color:#fff;
  // }
  .container {
    position: absolute;
    width: 100%;
    height: calc(100% - 144px);
    overflow: scroll;
    scrollbar-width: thin;
    // width: 90.8%;
    // color:#fff;
    background: transparent;

    .mainCanvas {
      height: calc(100% - 208px);
      // z-index: -1;
    }
  }
}
