.wrap {
  height: 50px;
  line-height: 50px;
  text-indent: 28px;
  letter-spacing: 3px;
  font-size: 18px;
  font-weight: normal;
  border-bottom: 1px solid #237ea2;
  background: linear-gradient(to right, #1d3359 0%, #1e4379 50%, #192d60 100%)
}