.container {

  .tab {

    :global(.rc-tabs-tab) {
      color: #fff;
      height: 40px;
      line-height: 40px;
      padding: 0 40px;
      margin: 0;
      border-radius: 10px;
    }

    :global(.rc-tabs-tab-active) {
      color: #fff;
      background: #0183d9;
    }

    :global(.rc-tabs-ink-bar) {
      background-color: transparent;
    }

    :global(.rc-tabs-nav) {
      border: 1px solid #0183d9;
      border-radius: 12px;
      overflow: hidden;
      height: 40px;
      line-height: 40px;
      padding: 0;
    }

    :global(.rc-tabs-top) {
      border: none;
    }

    :global(.rc-tabs-bar) {
      border: none;
      margin-bottom: 10px;
    }

    :global(.rc-tabs-nav-scroll) {
      width: 100%;
      display: flex;
      justify-content: center;
    }

    :global(.rc-tabs-content .rc-tabs-tabpane) {
      overflow: inherit;
    }

  }

  .net {

    .top {
      display: flex;
      align-items: center;
    }

    .imgMap {
      width: 100%;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }

    .search {
      cursor: pointer;
      height: 100%;
    }

    .map {
      overflow: hidden;
      border: 1px solid #009cff;
      flex: 1 1 50%;
      margin-right: 15px;
      height: calc(21.8rem - 1.5rem);
      padding: 1rem 2rem 0.5rem 2rem;
      position: relative;

      img {
        z-index: 999;
        cursor: pointer;
      }

      >img {
        transition: all .3s;
      }

      >img:hover {
        box-shadow:0 0 0.6rem rgba(255, 255, 255, 0.4);
      }

      >img.active {
        box-shadow:0 0 1rem rgba(255, 255, 255, 0.6);
        width: 20px;
      }

      .xingshi {
        position: absolute;
        top: 50%;
        right: 38%;
      }

      .xiangle {
        position: absolute;
        top: 32%;
        right: 39%;
      }

      .guanliao {
        position: absolute;
        top: 50%;
        right: 60%;
      }

      .shemi {
        position: absolute;
        top: 36%;
        right: 48%;
      }

      .backTop {
        position: absolute;
        top: 20px;
        left: 20px;
        cursor: pointer;
      }
    }

    .info {
      flex: 1 1 50%;
      border: 1px solid #009cff;
      height: calc(21.8rem - 1.5rem);
      padding: 1rem 2rem 0.5rem 2rem;
    }

    .busUse {
      flex: 1 1 50%;
      border: 1px solid #009cff;
      height: calc(21.8rem - 1.5rem);
      padding: 1rem 2rem 0.5rem 2rem;
    }

    .busUseContent {
      font-size: 0.9rem;
      display: flex;
      flex-flow: column;
      align-items: center;

      .row {
        display: flex;
        align-items: center;
      }

      label {
        margin-right: 10px;
      }

      .select {
        width: calc(6.6rem - 20px);
        background: #fff;
        border-radius: 5px;
        height: 1.3rem;
        line-height: 1.3rem;
      }

      .input {
        border: 2px solid #0183d9;
        height: 2rem;
        width: 15.8rem;
        display: flex;
        align-items: center;
        border-radius: 2rem;
        padding-right: 1rem;
        margin-bottom: 20px;

        input {
          background: transparent;
          flex: 1 1 auto;
          border: none;
          outline: none;
          height: 100%;
          text-align: center;
          color: #fff;
        }
      }
    }

    .datatime {
      font-size: 14px;
      width: 6.6rem;
      background: #fff;
      border-radius: 5px;
      height: 1.3rem;
      line-height: 1.3rem;

      input {
        width: 6.6rem;
        border: none;
        outline: none;
        background: transparent;
        padding: 0 10px;
      }

      table {
        color: #000;
      }
    }

    .chart {
      flex: 1 1 50%;
      border: 1px solid #009cff;
      height: calc(21.8rem - 1.5rem);
      padding: 1rem 2rem 0.5rem 2rem;
    }

    .chartHeader {
      display: flex;
      align-items: center;
      font-size: 0.9rem;

      h2 {
        flex: 1 1 auto;
      }

      .number {
        margin: 0 1.25rem;
        color: #0183d9;
      }
    }

    .chartContent {
      height: 10rem;
    }

    .total {
      text-align: right;
      margin: 1.5rem 6% 1.5rem 0px;
    }

    .blocks {
      display: flex;
      justify-content: center;
      margin-top: 1.2rem;

      .block {
        width: 4.5rem;
        height: 1.5rem;
        line-height: 1.5rem;
        border-radius: 0.5rem;
        font-size: 0.9rem;
        text-align: center;
        cursor: pointer;
        margin-right: 2.4rem;
        transition: background .5s;
      }

      .block:last-child {
        margin: 0;
      }
    }
  }

  .info {

    .infoHeader {
      margin-bottom: 3.5rem;
      font-size: 1rem;
    }

    .infoContent {
      font-size: 0.7rem;

      .row {
        margin-bottom: 0.75rem;
      }

      .row:last-child {
        margin: 0;
      }
    }
  }

  .link {
    transition: color .3s;
  }

  .link:hover {
    color: #0183d9;
  }

  .form {
    width: 90%;
    margin-top: 2.5rem;

    label {
      margin: 0 !important;
    }

    >div {
      margin-bottom: 1rem;
    }

    >div:last-child {
      margin: 0;
    }

    .row {
      justify-content: space-between;
      >div:first-child {
        flex: 1 1 60%;
      }

      >div:last-child {
        flex: 1 1 40%;
      }
    }
  }
}
