#home-page {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: url("./images/backgroundImage.png");
  z-index: -1;

  .container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }
  
  // background: linear-gradient(to bottom, #f1d4b4 50%, #9813e5 120%);
  // background: -moz-linear-gradient(top, #f1d4b4 50%, #e51813 120%);
  // background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#f1d4b4), color-stop(120%,#e51813));
  // background: -webkit-linear-gradient(top, #f1d4b4 50%,#e51813 120%);
  // background: -o-linear-gradient(top, #f1d4b4 50%,#e51813 120%);
  // background: -ms-linear-gradient(top, #f1d4b4 50%,#e51813 120%);
}

